/* General Setup*/

body{
  margin: 0 auto;
  height: 100vh;
  width: 90vw;
  background-color: rgb(240,240,240);
}

/*  Input */

.searchContainer {
  padding-top: 3vh;
  text-align: center;
  
}

.mainSearch {
  height: 5vh;
  width: 80%;
  font-size: 2rem;
}

.createCard{
  height: 5vh;
  width: 9rem;
  font-size: 1.4rem;
  background-color: cornflowerblue;
  text-decoration: none;
  cursor: pointer;
  border: none;
}


/* Images */

.imageHolder{
  text-align: center;
  padding-top: 5%;
}

.imageDiv{
  width: 100%;
  margin: 10% auto 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.imageDiv p{
  font-size: 1.5rem;
}

.cardImage {
  width: 186px;
  height: 260px;
  border-radius: 3%;
  margin: 1%;
}

.cardImage:hover{
  transform: rotate(3deg) scale(1.1);
}

/* Edit Menu */

.editBack{
  position: fixed;
  width: 100%;
  height: 100%;;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
  z-index: 2;
  cursor: pointer;
}

.editMenu{
  position: fixed;
  top: 10vh;
  bottom: 10vh;
  left: 10vw;
  right: 10vw;
  background-color: white;
  z-index: 3;
  border-radius: 25px;
  padding: 10px;
}

.editButtonContainer {
  height: 8vh;
  width: 90%;
  margin: 0 auto;
  background-color: black;
  text-align: center;
  border-radius: 25px;
  position: relative;
  top: -3vh;
}

.editButton{
  width: 35%;
  height: 75%;
  background-color: aquamarine;
  border: none;
  cursor: pointer;
  font-weight: bold;
  position:relative;
  top: 1vh;
}

.editButton:hover{
  transform: scale(1.1);
  background-color: cadetblue;
  color: white;
  z-index: 1;
}

.selectedCardImage{
  height: 50%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: 1vw;
  transform: translateY(-45%);
  padding: 3px;
  border: 0.5vw solid aquamarine;
  border-radius: 15px;
}

@media screen and (max-width: 992px) {
  .selectedCardImage {
    height: 30%;
  }
}

.urlSelect{
  width: 30%;
  position: absolute;
  top: 80%;
  right: 1vw;
}

.editForm{
  width: 50%;
  height: 80%;
  position: absolute;
  top: 50%;
  bottom: 50%;
  left: 1vw;
  transform: translateY(-45%);
  padding: 3px;
  border: 0.5vw solid black;
  border-radius: 25px;
}

textarea.effectText, input.effectType, input.simpleMenu0, input.simpleMenu1, input.simpleMenu2, 
input.simpleMenu3, input.simpleMenu4, input.simpleMenu5, input.simpleMenu6{
  position: absolute;
  width: 80%;
  border: 0.05rem solid black;
  right: 40%;
  left: 60%;
  transform: translateX(-50%);
  border-radius: 0.1rem;
  resize: none;
}

.effectText {
  bottom: 2%;
  height: 30%;
  border-radius: 0.1rem;
}

.effectType {
  bottom: 35%;
}

.simpleMenu0{
  top: 1%;
}

.simpleMenu1 {
  top: 6%;
}

.simpleMenu2 {
  top: 11%;
}

.simpleMenu3 {
  top: 16%;
}

.simpleMenu4{
  top: 21%;
}

.simpleMenu5{
  top: 26%;
}

.simpleMenu6{
  top: 31%;
}

p.effectText, p.effectType, p.simpleMenu0, p.simpleMenu1, p.simpleMenu2, p.simpleMenu3, p.simpleMenu4, p.simpleMenu5, p.simpleMenu6{
  position: absolute;
  border-radius: 0.1rem;
  text-align: start;
  margin: 1px 2px;
  width: 20%;
  font-size: 0.8rem;
}

.simpleMenu0:focus, .simpleMenu1:focus, .simpleMenu2:focus, .simpleMenu3:focus, .simpleMenu4:focus, .effectText:focus, .effectType:focus{
  border: 0.2rem solid black;
}